<div class="signin">
    <div class="popup">
        <div class="popUpInner">
            <img src="/static/assets/images/logo.png">
<!--             <link href="/static/assets/css/custom_login.css" rel="stylesheet"> -->
            <div class="signinPan">
                <form>
                    <input ng-model='email' type="text" placeholder="Please enter your email">
                    <div class="pRelative">
                        <input ng-model='password' type="password" placeholder="Password">
                    </div>
                    <div ng-if="isInvalid" class="login-alert login-alert-danger fade in">
                        <login-strong>{{messsage}}</login-strong>
                    </div>
                    <input ng-click='submit()' type="submit" value="Sign in">
                </form>
                <p><label style="cursor: pointer;" ng-click='signup()'>Sign Up?</label></p>
            </div>
        </div>
    </div>
</div>
