
<div class="accordian-scroll-content-response" id="msgScroll">
    <h5 class="load-earlier text-center" ng-if="next_url">
        <a ng-if="!loading" ng-click="loadMorePrivateMessage(next_url)">Load Earlier Private Messages</a>
    </h5>
    <div class="text-center" ng-if="loading"><img src="/static/assets/incident/images/loading-animation.gif"/></div>
    <div class="chatPan"
        ng-repeat="private_message in incident_private_messages|orderBy:'created_at':false">
        <div>
            <span style="width:50px;height:50px;float:left;"
                ng-if="private_message.sender.email != personal_info.email">
            <img ng-if="private_message.sender.profile_picture" class="img-circle"
                ng-src="{{private_message.sender.profile_picture }}" height="50px" width="50px">
            <img ng-if="!private_message.sender.profile_picture" class="img-circle"
                src="/static/assets/incident/images/user.png" height="50px" width="50px">
            </span>
            <div class="chatLeft" ng-if="private_message.sender.email != personal_info.email">
                <span class="pull-left">
                <strong>
                {{ private_message.sender.full_name }}
                </strong>
                </span>
                <br/>
                <p ng-if="private_message.message_text"
                    ng-bind-html="private_message.message_text | nl2br | linkyUnsanitized:'_blank'"></p>
                <p ng-click="openAssetDetail('lg', private_message)" ng-if="!private_message.message_text">
                    <img ng-if="private_message.attachment.asset_type==1"
                        ng-src="{{private_message.attachment.attachment}}">
                    <img ng-if="private_message.attachment.asset_type==3" class="assets-attachment"
                        ng-src="{{private_message.attachment.cover_photo}}">
                </p>
                <span class="pull-right text-right" style="font-size:10px;">
                {{ private_message.created_at | date:"dd MMM yyyy 'at' h:mma"}}
                </span>
            </div>
            <div class="clearfix"></div>
            <span style="width:50px;height:50px;float:right;"
                ng-if="private_message.sender.email == personal_info.email">
            <img ng-if="private_message.sender.profile_picture" class="img-circle"
                ng-src="{{private_message.sender.profile_picture }}" height="50px" width="50px">
            <img ng-if="!private_message.sender.profile_picture" class="img-circle"
                src="/static/assets/incident/images/user.png" height="50px" width="50px">
            </span>
            <div class="chatRight" ng-if="private_message.sender.email == personal_info.email">
                <span class="pull-right">
                <strong>
                {{ private_message.sender.full_name }}
                </strong>
                </span>
                <br/>
                <p ng-if="private_message.message_text"
                    ng-bind-html="private_message.message_text | nl2br | linkyUnsanitized:'_blank'"></p>
                <p ng-if="private_message.message_text">
                    <img ng-if="private_message.attachment.asset_type==1"
                        ng-src="{{private_message.attachment.attachment}}">
                    <img ng-if="private_message.attachment.asset_type==3" class="assets-attachment"
                        ng-src="{{private_message.attachment.cover_photo}}">
                </p>
                <span class="pull-right text-right" style="font-size:10px;">
                {{ private_message.created_at | date:"dd MMM yyyy 'at' h:mma"}}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Private Chat Section End -->
<!-- Chat Submit -->
<div class="chatSubmit1">
    <form ng-submit="postmessage()">
        <textarea ng-keypress="$event.keyCode == 13 && postmessage()" autofocus="true" ng-model="inputprivatemessage.text" type="text"
            placeholder="{{messagePlaceholder}}"></textarea>
    </form>
    <button class="butt" ng-click="postmessage()">Post</button>
    <a href="" ng-click="event.preventDefault(); exportmessage()" class="export pull-right"
        title="Export Messages"></a>
    <div class="clearfix"></div>
</div>
